@import "styles/variables";

.section{
  &__wrap{
    background: var(--primary-black-48);
    backdrop-filter: blur(7.5px);
    padding: 12px;
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    @media (max-width: $md) {
      column-gap: 12px;
    }
    @media (max-width: $sm){
      column-gap: 0;
      grid-template-columns: 1fr;
    }
  }
  &__steps{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    button{
      font-weight: 700;
      text-transform: uppercase;
      background: var(--primary-black-72);
      backdrop-filter: blur(7.5px);
      border-radius: 60px;
      padding: 8px 17px;
      margin-right: 6px;
      z-index: 10;
      position: relative;
      &:last-child{
        margin-right: 0;
      }
      &:global(.active){
        background: var(--primary-gold);
      }
    }
  }
}