@import "styles/variables";

.block{
  width: 576px;
  padding: 60px;
  background: var(--primary-black-48);
  border: 1px solid var(--primary-white-24);
  backdrop-filter: blur(7.5px);
  @media (max-width: $xl) {
    padding: 20px;
    width: 40vw;
  }
  @media (max-width: $sm) {
    background: transparent;
    backdrop-filter: none;
    border: none;
    width: 100%;
    padding: 0 20px;
  }
}