@import "styles/variables";

.slider{
  width: 100vw;
  @media (max-width: $sm) {
    width: 95vw;
  }
  :global(.slick-slide){
    :global(.card--wiki){
      margin: 0 10px;
    }
    width: 34vw;
    @media (max-width: $sm) {
      width: 70vw;
    }
  }
}